<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="CONSOLE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - [reqId=%X{requestId}] %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 필요하면 패키지별 로그 레벨 튜닝 -->
    <logger name="org.hibernate.SQL" level="INFO"/>
    <logger name="org.hibernate.orm.jdbc.bind" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>