name: CI

on:
  push:
    branches: ["**"]
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      # ✅ 테스트(스니펫 생성)
      - name: Test (generate REST Docs snippets)
        env:
          SPRING_PROFILES_ACTIVE: TEST
        run: ./gradlew clean test

      # ✅ 문서 생성
      - name: Asciidoctor (generate docs)
        run: ./gradlew asciidoctor

      # ✅ 결과물 확인용(선택)
      - name: Upload docs artifact
        uses: actions/upload-artifact@v4
        with:
          name: restdocs
          path: build/docs/asciidoc