name: CI

on:
  push:
    branches: [ "**" ]
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest
    env:
      SPRING_PROFILES_ACTIVE: test

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Test (generate REST Docs snippets)
        run: ./gradlew clean test

      - name: Asciidoctor (generate docs)
        run: ./gradlew asciidoctor

      - name: Upload docs artifact
        uses: actions/upload-artifact@v4
        with:
          name: restdocs
          path: build/docs/asciidoc