name: CI

on:
  push:
    branches: [ "**" ]
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Build docs (tests + asciidoctor)
        run: ./gradlew -Dspring.profiles.active=test clean asciidoctor

      - name: Upload docs artifact
        uses: actions/upload-artifact@v4
        with:
          name: restdocs
          path: src/main/resources/static/docs